.button {
	position: relative;
	color: white;
	background-color: #050505;
	padding: 25px 50px;

	width: 400px;
	margin-bottom: 30px;

	border-radius: 24px;
	border-style: solid;
	border-color: black;

	transition: background-color 0.5s ease, color 0.5s ease;
}

.button:hover {
	background-color: white;
	color: black;
}

.button_area {
	position: absolute;
	width: 100%;
	height: 100%;

	top: 0%;
	left: 0%;
}

.button_icon {
	width: 60px;
	height: 60px;
	margin-right: 25px;

	object-fit: cover;
	overflow: visible;

	border-radius: 50%;
	background: white;
	padding: 30px;
	
	border-style: solid;
	border-color: #050505;
}
