<!doctype HTML>
<html lang="en">
	<head>
		<title>Home | Flask Web</title>
		<link rel="stylesheet" href="../static/style/index.css">
		<link rel="stylesheet" href="../static/style/navbar.css">
		<link rel="stylesheet" href="../static/style/contact.css">
		<link rel="stylesheet" href="../static/style/buttons.css">
	</head>
	<body>
		<header>
			<img class="bg_img" src="../static/img/cover.jpg" alt="BACKGROUND IMAGE">
			<h1 class="page_title">HOME</h1>
		</header>

		<nav>
			<h3>MENU</h3>
			<a class="main_nav" href="/">Home</a>
			<a class="main_nav" href="/profile">Profile</a>
			<a class="main_nav" href="/projects">Projects</a>
			<a class="main_nav" href="#contacts">Contacts</a>
			<span class="side_nav_text">menu</span>
		</nav>

		<main>
			<section>
				<div class="button">
					<a href="/"><div class="button_area"> </div><img class="button_icon" src="../static/icons/name.png" alt="profile"><span>Profile</span></a>		
				</div>
				<div class="button">
					<a href="/projects"><div class="button_area"> </div><img class="button_icon" src="../static/icons/profession.png" alt="button 2"><span>Projects</span></a>
				</div>
				<div class="button">
					<a href="#contacts"><div class="button_area"> </div><img class="button_icon" src="../static/icons/phone.png" alt="button 3"><span>Contacts</span></a>
				</div>
			</section>

			<aside>
				<p>Welcome to my first `somehow complete` website. Though I already have a bit of experience in frontend previously, it felt difficult to create even a less decent project, which made this simple profiling website all the more important. The css for this part can be quite messy if you have to read it so sorry in advance.</p>
				<p>This contains details about me and sample programs I made. Feel free to contact me whenever you need to.</p>
				<p>Well thank you for visiting and have a great day</p>
			</aside>
		</main>

		<footer id="contacts" class="index-page">
			<h1>CONTACT ME<h1>
			<form class="mail">
				<input class="small_inp" type="text" id="email" name="email" placeholder="Email">
				<br>
				<input class="small_inp" type="text" id="subject" name="subject" placeholder="Subject">
				<br>
				<textarea class="big_inp" id="message" name="message" placeholder="Message" rows="13"></textarea>
				<br>
				<input class="submit_mail" type="submit" value="Submit">
				</input>
			</form>

			<div class="contacts">
				<div class="sub_contacts">
					<figure class="contact_detail">
						<img class="contact_icon" src="../static/icons/location.png" alt="location">
						<figcaption>Metro Manila, Philippines</figcaption>
					</figure>
					<figure class="contact_detail">
						<img class="contact_icon" src="../static/icons/gmail.png" alt="gmail">
						<figcaption>vonzedric012@gmail.com</figcaption>
					</figure>
					<figure class="contact_detail">
						<img class="contact_icon" src="../static/icons/phone.png" alt="phone number">
						<figcaption>+639771035879</figcaption>
					</figure>
				</div>

				<figure class="social_contacts">
					<a href="https://web.facebook.com/rotten.flesh.12/" target="_blank"><img class="social_icon" src="../static/icons/facebook.png" alt="facebook"></a>
					<a href="https://github.com/Rotten120" target="_blank"><img class="social_icon" src="../static/icons/github.png" alt="github"></a>
					<a href="https://www.linkedin.com/in/delosreyesvonzedric/" target="_blank"><img class="social_icon" src="../static/icons/linkedin.png" alt="linkedin"></a>
				</figure>
			</div>
		</footer>

		<head>
	</body>
</html>

